<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner container">
            <div id="welcome-anim" class="row text-center">
                <span class="welcome">Welcome in</span>
                <span class="title">Yummy Book</span>
            </div>
        </div>
    </div>
</header>

<section id="explore-recipe-section">
    <div class="container">
        <div class="row">
            <div class="col text-center py-5">
                <h1 class="display-5">Explore Recipes</h1>
                <p class="lead">Big fan of cooking? Find your favorite recipes here! Explore tons of fantastic recipes and also create your
                    own ones! It's more fun to share!</p>
                <a style="cursor: pointer;" routerLink="/recipes" class="btn btn-outline-secondary">Find Out More</a>
            </div>
        </div>
    </div>
</section>

<section id="recipe-intro-section" class="text-muted py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/img/recipe-intro.jpg" alt="recipe intro" class="img-fluid mb-3 rounded-circle">
            </div>
            <div class="col-md-6">
                <h3>Explore & Share</h3>
                <p>There is a great place for you to learn a new dish that will please youself and your families. Dive into tons of recipes created by others and even shared your specialty ones!</p>
                <div class="d-flex">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check fa-2x"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Explore recipes and seach for target ones. You can find what you want here.
                    </div>
                </div>

                <div class="d-flex">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check fa-2x"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Create an account and write your own recipes. Sharing is a virtue.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CREATE HEAD -->
<section id="shopping-list-section">
    <div class="container">
        <div class="row">
            <div class="col text-center py-5">
                <h1 class="display-5">Create Shopping List</h1>
                <p class="lead">Too many ingredients of your favorite recipes to remenber? Don't worry! Add them to your shopping list! Check your shopping list at any time you want. Make things easy!</p>
                <a style="cursor: pointer;" routerLink="/shopping-list" class="btn btn-outline-light">Find Out More</a>
            </div>
        </div>
    </div>
</section>

<!-- CREATE SECTION -->
<section id="shoppinglist-intro-section" class="text-muted py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-2">
                <img src="../../../assets/img/shoppinglist-intro.jpg" alt="shopping list intro" class="img-fluid mb-3 rounded-circle">
            </div>
            <div class="col-md-6 order-1">
                <h3>Create Your Passion</h3>
                <p>The shopping list will be a good helper for you that help you to record what you want to buy. Just sign in and check your shoping bag!</p>
                <div class="d-flex">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check fa-2x"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Add ingredients from your favorite recipes to your shopping list. It's more convenient than you thought.
                    </div>
                </div>

                <div class="d-flex">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check fa-2x"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Build your own shopping list. Add more or edit or delete some on your own.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
