<div class="container">
  <div class="row">
    <div class="col-md-6 pb-5">
      <img [src]="imagePath" alt="{{ name }}" class="img-responsive img-thumbnail mb-3">
      <div class="text-muted d-flex justify-content-between align-items-cente"> Created by: {{ auth }}
        <div><span id="heart" class="fas fa-heart mr-2"></span>{{ favoriteCount }}</div>
      </div>
    </div>
    <div class="col-md-6">
      <h1 class="mb-3">{{ name }}</h1>
      <div id="like" *ngIf="isAuthenticated()" class="text-muted mb-3 hvr-buzz" 
      style="cursor: pointer;">
        <span (click)="onFavoritesClicked()">
          <span id="heart" class="fa-heart" [ngClass]="status ? 'fas' : 'far'"></span>
          Add to favorite list
      </span>
      </div>
      <div *ngIf="isAuthenticated()" class="btn-group mb-3" appDropdown>
        <button type="button d-inline" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          Manage Recipe
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <a class="dropdown-item" style="cursor: pointer;" (click)="onAddToShoppingList()">Add to Shopping List</a>
          <a class="dropdown-item" style="cursor: pointer;" (click)="onEditRecipe()">Edit Recipe</a>
          <a class="dropdown-item" style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Recipe</a>
        </ul>
      </div>
      <div class="mb-3 font-descrip">
        {{ description }}
      </div>
      <h5>Directions</h5>
      <div class="mb-3 font-descrip">
          {{ directions }}
        </div>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let ingredient of ingredients">
          {{ ingredient.name }}
          <span>{{ ingredient.amount }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>