<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 col-md-12">
      <app-shopping-edit></app-shopping-edit>
      <hr>
      <div class="text-center pt-5" *ngIf="!isLoggedIn">
        <img src="../../assets/img/emptyBasket.png" alt="Empty Shopping List" class="img-fluid mb-3">
        <h5 class="text-center text-muted"> Oops! Your bag is empty!</h5>
        <h5 class="text-center text-muted">Please login to create your own shopping list!</h5>
      </div>
      <ul class="list-group" *ngIf='isLoggedIn'>
        <a class="list-group-item d-flex justify-content-between align-items-center" style="cursor: pointer" [@slideIn] *ngFor="let ingredient of ingredients" (click)="onEditItem(ingredient.key)">
          {{ ingredient.name }} <span>{{ ingredient.amount }}</span>
        </a>
      </ul>
    </div>
  </div>
</div>